@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Eleições 2016</h1>
    <p class="lead">Cadastre-se para votar nos Candidatos atuais. E também se informa os candidatos mais votados.</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Candidato</h2>
        <p> Veja os candidatos com as quantidades de votos, clique e acesse já.</p>
        <p><a class="btn btn-default" href="~/DataSet/RelatorioVotos.aspx">Candidato &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bairro</h2>
        <p>Veja os votos em seus respectivos bairro, clique e acesse já.</p>
        <p><a class="btn btn-default" href="~/DataSet/RelatorioBairroVotos.aspx">Bairro &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Faixa Etária</h2>
        <p>Veja os votos em seus respectivas faixa etária, clique e acesse já.</p>
        <p><a class="btn btn-default" href="~/DataSet/RelatorioData.aspx">Faixa Etária &raquo;</a></p>
    </div>
</div>